.ui-p {
  @include modifier(funky-text) {
    color: red;
  }
}

.super-funky-text {
  @include modifier(funky-text) {
    color: red;
  }
  font-size: 16px; // Best way to make this global?
}

.test-placeholder {
  @extend %test_placeholder;
}

// .ui-button--btn {
//   // how to fix this ??
//   background-color: white;
//   border: 1px solid grey;
//   color: black;
//   width: 150px;
//   padding: 10px; // Using a unit of measurement or something?
//   margin-top: var(--gaps-2);
//   // @include modifier(success) {
//   //   background: green; undefined modifier...?? Why ??
//   // }
// }

// // How to use gaps here
// .margin-top-1 {
//   margin-top: 1%;
// }
