.ui-p {
  @include modifier(funky-text) {
    color: red;
  }
}

// This means that ui-p--super-funky-text will have these styles
// Still not sure of the benifit of this not just being a normal class..
.ui-p {
  @include modifier(super-funky-text) {
    color: red;
    font-family: 'Courier New', Courier, monospace;
  }
}

.ui-button {
  @include modifier(btn) {
    background-color: white;
    color: black;
    padding: 10px 20px;
  }
  @include modifier(success) {
    background-color: green;
  }
  @include modifier(delete) {
    background-color: red;
  }
  @include modifier(primary) {
    background-color: blue;
    color: white;
  }
  @include modifier(disabled) {
    @extend %disabled;
  }
}

.grid-test-6 {
  margin: var(--gaps-6) 0;
}

// .ui-button--btn {
//   // how to fix this ??
//   background-color: white;
//   border: 1px solid grey;
//   color: black;
//   width: 150px;
//   padding: 10px; // Using a unit of measurement or something?
//   margin-top: var(--gaps-2);
//   // @include modifier(success) {
//   //   background: green; undefined modifier...?? Why ??
//   // }
// }

// // How to use gaps here
// .margin-top-1 {
//   margin-top: 1%;
// }
