@import 'biuty/core';

.media-query-test {
  color: white;
  @include query(m) {
    // min width from 778px
    background-color: red;
  }
  @include query(m, xs) {
    // from xs to m, be blue
    background-color: blue;
  }
  @include query(xs, xxs) {
    // from 0 to xs, do this.
    background-color: green;
  }
}

// Outputs

// @media screen and (min-width: 376px) {
//   .media-query-test {
//     background: blue;
//   }
// }

// @media screen and (min-width: 32px) and (max-width: 1199px) {
//   .media-query-test {
//     background: red;
//   }
// }

// @media screen and (min-width: 32px) and (max-width: 1199px) {
//   .test {
//     background: red;
//   }
// }
